<h4>Add a Todo</h4>
<form (ngSubmit)="onSubmit()">

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <label for="title"> To-Do Title</label>
                <input type="text" [(ngModel)]="title" class="form-control" id="title" name="title"
                    placeholder="Title">

            </div>
            <div class="col-md-3">

                <label for="time">To-Do Time</label>
                <input type="time" [(ngModel)]="time" class="form-control" name="time" id="time">


            </div>
            <div class="col-md-3">
                <label for="description">To-Do Description</label>
                <input type="text" [(ngModel)]="description" class="form-control" name="description" id="description"
                     placeholder="Description">

            </div>
            <div class="col-md-3">
                <label for="priority">To-Do Priority</label>
                <select  class="form-control" name="priority" id="priority" [(ngModel)]="priority">
                    <option value="" selected disabled >-Select Priority-</option>
                    <option value="LOW">Low</option>
                    <option value="MEDIUM">Medium</option>
                    <option value="HIGH">High</option>
                    <option value="TOP">Top</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="mt-4 text-center">
                <button class="btn btn-success w-25" type="submit" id="submit">Add</button>

            </div>
        </div>
    </div>
</form>